AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
CommentPragmas: '^\s*@(addtogroup|copydoc|defgroup|fn|ref)'
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*"' # relative headers
    Priority: 10
  - Regex: '(bsoncxx|mongocxx)/config(/private)?/prelude\.(hpp|hh)' # v_noabi preludes
    Priority: 50
  - Regex: '(bsoncxx|mongocxx)/test/.*' # test headers
    Priority: 60
  - Regex: '<[[:alnum:]_.]+>' # system headers
    Priority: 20
  - Regex: '(bsoncxx|mongocxx)/.*(-|\/)fwd\.(hpp|hh)' # all driver forwarding headers
    Priority: 30
  - Regex: '(bsoncxx|mongocxx)/.*' # all remaining (normal) driver headers
    Priority: 40
  - Regex: '.*' # all other headers (third party)
    Priority: 90
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
UseTab: Never
