
# Directories that are generated
/build
/docs

/callgrind.out.*
/massif.out.*

*~
*.pyc
*#
.#*

/tags
TAGS

# libs
/libmongoclient.*
/sharedclient

# examples
/arrayExample
/firstExample
/secondExample
/whereExample
/bsondemo
/rsExample
/tutorial
/insertDemo
/simpleClientDemo

# tests
/authTest
/clientTest
/httpClientTest

#osx
.DS_Store
._.DS_Store
*.fuse_*
