beautifulsoup4==4.12.3 # etc/patch-apidocs-index-pages.py.
click==8.1.7           # etc/make_release.py
cryptography==42.0.7   # etc/make_release.py (PyJWT)
GitPython==3.1.43      # etc/make_release.py
jira==3.5.2            # etc/make_release.py
PyGithub==2.3.0        # etc/make_release.py

# Dependencies of required packages above.
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
defusedxml==0.7.1
Deprecated==1.2.14
gitdb==4.0.11
idna==3.7
oauthlib==3.2.2
packaging==24.1
pycparser==2.22
PyJWT==2.8.0
PyNaCl==1.5.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
smmap==5.0.1
soupsieve==2.5
typing_extensions==4.12.2
urllib3==2.2.2
wrapt==1.16.0
